<div id="modal-button-container" class="button-container">
  <button id="modal-button" class="dark-button" type="button" data-toggle="modal" data-target="#myModal">
    Upcoming Events
  </button>
</div>

<div id="myModal" class="modal fade" role="dialog" style="display: none;">
  <div class="modal-dialog">
    <!-- WHERE EVENTS WILL BE POPULATED -->
    <div class="modal-body"></div>
    <!-- CLOSE BUTTON -->
    <div class="modal-footer">
      <button id="close-button" class="light-button" type="button" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>