<!-- MAIN CONTENT FOR ABOUT-US -->
<div class="content" id="content-about">
    <h1>About Us</h1>
    <!-- description -->
    <section id="desc-about">
        <p>The Brandeis Students & Alumni Association serves as a bridge between current students and graduates of Brandeis University, fostering a strong community and providing networking and mentorship opportunities.</p>
        <p>It actively supports career development, encourages alumni engagement, and hosts social and educational events that celebrate Brandeis culture and promote lifelong learning. This association plays a vital role in connecting Brandeis students and alumni, ensuring they remain engaged and supported throughout their academic and professional journeys.</p>
    </section>
    <img src="\images\BrandeisLogo.png" id="img-about">
</div>