<div class="content" id="content-index">
    <h1>We Are Proud</h1>
    <h2>Students & Alumni of <em>Brandeis University</em></h2>
    <p>The Brandeis Students and Alumni Association is a vibrant community that offers lifelong opportunities for students and alumni to stay connected to Brandeis and each other.</p>
</div>