<div class="content" id="404-content">
    <h1>Page Not Found!</h1>
    <p>It seems like the page you're looking for either no longer exists or cannot be found!</p>
    <p>So sorry for the inconvenience!</p>
</div>