<div class="content" id="server-error-content">
    <h1>Internal Server Error</h1>
    <p>It seems like there's an issue with accessing the webpage!</p>
    <p>So sorry for the inconvenience!</p>
</div>