<div class="sign-in data-form">
    <h1>Sign In</h1>
    <form action="/users/login" method="POST">
        <!-- EMAIL -->
        <label for="inputEmail">Email address</label>
        <input type="email" name="email" id="inputEmail" placeholder="Email address" required />
        
        <!-- PASSWORD -->
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" placeholder="Password" required />
        
        <!-- LOGIN BUTTON -->
        <div class="submit-button">
            <button type="submit" class="dark-button">Sign In</button>
        </div>
    </form>
</div>